.App {
	text-align: center;
}

header {
	background-color: #222;
	width: fit-content;
	margin: 0 auto;
	padding: 20px 5rem;
	border-radius: 0 0 25px 25px;
	color: white;
}

header h1 {
	font-size: 1.2em;
	margin: 0;
}

header p {
	font-size: 1em;
	margin: 0;
}

#map {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	z-index: -1;
}

#sourceButton {
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 1;

	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	margin-bottom: 12px;
	text-align: center;
	font-size: 14px;
	outline: none;
	padding: 10px 15px;
	text-decoration: none;
	transition: all 0.8s;
}

#sourceButton:hover,
#sourceButton:active {
	background-color: #ebebeb;
	border-color: #ebebeb;
}

#sources {
	position: fixed;
	/* center*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(700px, 80vw);
	height: min(500px, 80vh);
	padding: 1rem 2.5rem;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 25px;
	text-align: left;
	color: white;
}

#sources h3 {
	font-size: 1.6rem;
}

#sources a {
	color: white;
}

#sources button {
	position: absolute;
	top: 2rem;
	right: 2rem;
	padding: 0.5rem;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 1.8rem;
}